* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    background: papayawhip;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 50px 20px;
}

p {
    padding: 10px;
}

.subtitle {
    flex: 1 1 200px;
}

.content {
    flex: 3 1 300px;
}

.contactInfo {
    padding: 25px 10px
}

ul {
    padding: 15px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}