* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    background: papayawhip;
}

header {
    background-color: #ffdca2;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

h3 {
    display: flex;
    justify-content: right;
    min-width: 9ch;
    border-right: #333 solid 2px;
    padding: 5px 10px 5px 0px;
}

p {
    padding: 10px;
}

.aboutMe, .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8vh 0px 8vh 18vw;
}

.content {
    margin: 0px 8vw 0px 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headliner {
    display: flex;
    justify-content: space-around;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactInfo {
    padding: 25px 10px
}

ul {
    padding: 15px;
}

li {
    display: inline-block;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}